<nav class="bg-slate-900/65 items-center drop-blur-lg text-slate-100 flex w-full justify-between p-2">
  <div id="brand">
    <p>PinSocial</p>
  </div>
  <div>
    <img class="rounded-full w-12" src="https://cdn.discordapp.com/embed/avatars/0.png"/>
  </div>
</nav>